* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}
.box__container {
    width: 90%;
    margin: 0 auto;
}
/* nav__bar */
.nav__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__active__link {
    color: #000000 !important;
    border-bottom: 1px solid #000;
    font-weight: 600 !important;
}
.nav__link {
    display: flex;
    list-style: none;
    font-size: 18px;
    gap: 20px;
    cursor: pointer;
    color: rgb(77, 77, 77);
}
.nav__bar h3 {
    font-size: 32px;
    margin-left: 100px;
}
.nav__user__cart {
    display: flex;
    align-items: center;
}
.nav__user {
    margin-left: 48px;
}
.nav__search__button {
    padding: 10px 30px 10px 30px;
    font-size: 14px;
    color: rgb(187, 187, 187);
    border: 1px solid #f8f8f8;
    display: flex;
    gap: 50px;
    border-radius: 22px;
}
.nav__user__bar{
    display: none;
}
/* hero__section */
.hero__section__content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: rgb(246, 217, 183);
    width: 48%;
    border-radius: 28px;
    padding: 30px;
}

.hero__section__button {
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-radius: 38px;
    color: #F8F8F8;
    padding: 10px 12px 10px 28px;
    gap: 22px;
}

.hero__section__button__div {
    margin-top: 30px;
}

.hero__section__content p {
    font-size: 24px;
}

.hero__section__content h3 {
    font-size: 54px;
}

.hero__section__content__color_text {
    font-size: 18px;
    color: rgb(106, 106, 106);
}

.hero__section__footer {
    display: flex;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 10px;
}

.hero__section__footer__content h4 {
    font-size: 24px;
}

.hero__section__footer__content p {
    font-size: 14px;
}

.hero__section__content__image {
    width: 48%;
}

.hero__section__content__image img {
    width: 100%;
    height: 90vh;
}

.hero__section {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
}

.our__daily__life__product{
    background-color: rgb(244, 242, 238);
    width: 50%;
    padding: 10px;
}
.our__daily__life__product__image{
    display: flex;
    justify-content: center;
}
.cart__button__and__love{
    display: flex;
    justify-content: space-between;
}
.add__to__cart__button{
    padding:8px;
    border-radius: 16px;
    border: none;
    display: flex;
    gap:10px;
    color: rgb(17, 17, 17) ;
    background-color: rgb(255, 255, 255);
}
.cart__button__and__love img{
    background-color:rgb(255, 255, 255) ;
}
.our__daily__life__product__footer__content{
    display: flex;
    justify-content: space-between;
}
.our__daily__life__product__footer__content h4{
    font-size: 24px;
}
.our__daily__life__product__footer__content h5{
    font-size: 18px;
}
.our-daily-life-product__serum{
    background-color:rgb(244, 242, 238); 
    padding: 10px;
    width: 50vh;
    height: 90%;
}
.our__daily__life__product_section{
    display: flex;
    gap:20px;
}
.our__daily__life__product__image_cart__content{
  display: flex;
  gap: 20px;
}
.active {
    width: 100%;
    height: 2px;
    background-color: #dfdfdf;
    margin-top: 1rem;

}
.divider {
    width: 90%;
    height: 2px;
    background-color: #dfdfdf;
    margin-top: 1rem;
   
}

.divider div {
    width: 30%;
    height: 2px;
    background-color: black;
}
@media (max-width: 480px) {
    .nav__link {
        display: none;
    }
    .nav__user__cart{
        display: none;
    }
    .nav__user__bar{
        display: block;
    }
    .hero__section {
        padding-top: 15px;
        flex-direction: column;
        gap:10px;
    }

    .hero__section__content {
        width: 100%;
        padding: 10px;
    }

    .hero__section__button {
        padding: 6px 12px;
        font-size: 12px;
        gap: 12px;
    }

    .hero__section__content__image {
        width: 100%;
        height: 60vh;
    }

    .hero__section__footer {
        flex-direction: column;
        gap: 10px;
        padding-top: 15px;
    }

    .hero__section__footer__content h4 {
        font-size: 16px;
    }

    .hero__section__footer__content p {
        font-size: 10px;
    }

    .hero__section__content p {
        font-size: 16px;
    }

    .hero__section__content h3 {
        font-size: 28px;
    }

    .hero__section__content__color_text {
        font-size: 12px;
    }
}
@media (min-width: 480px) and (max-width: 600px){
    .nav__link {
        display: none;
    }
    .nav__user__cart{
        display: none;
    }
    .nav__user__bar{
        display: block;
    }
    .hero__section {
        padding-top: 15px;
        flex-direction: column;
        gap:10px;
    }

    .hero__section__content {
        width: 100%;
        padding: 10px;
    }

    .hero__section__button {
        padding: 6px 12px;
        font-size: 12px;
        gap: 12px;
    }

    .hero__section__content__image {
        width: 100%;
        height: 60vh; 
    }

    .hero__section__footer {
        flex-direction: column;
        gap: 10px;
        padding-top: 15px;
    }

    .hero__section__footer__content h4 {
        font-size: 16px;
    }

    .hero__section__footer__content p {
        font-size: 10px;
    }

    .hero__section__content p {
        font-size: 16px;
    }

    .hero__section__content h3 {
        font-size: 28px;
    }

    .hero__section__content__color_text {
        font-size: 12px;
    }
}
@media (min-width: 600px) and (max-width: 768px) {
    .nav__link {
        display: none;
    }
    .nav__user__cart{
        display: none;
    }
    .nav__user__bar{
        display: block;
    }
    .hero__section {
        flex-direction: column;
        padding-top: 20px;
    }

    .hero__section__content {
        width: 100%;
        padding: 15px;
    }

    .hero__section__content__image {
        width: 100%;
        margin-top: 15px;
        height: 70vh; 
    }

    .hero__section__footer {
        flex-direction: column;
        gap: 15px;
        padding-top: 20px;
    }

    .hero__section__footer__content h4 {
        font-size: 18px;
    }

    .hero__section__footer__content p {
        font-size: 12px;
    }

    .hero__section__button {
        padding: 8px 16px;
        font-size: 14px;
        gap: 16px;
    }

    .hero__section__content p {
        font-size: 18px;
    }

    .hero__section__content h3 {
        font-size: 36px;
    }

    .hero__section__content__color_text {
        font-size: 14px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .nav__link {
        display: none;
    }
    .nav__user__cart{
        display: none;
    }
    .nav__user__bar{
        display: block;
    }
    .hero__section {
        flex-direction: column;
        padding-top: 30px;
    }

    .hero__section__content {
        width: 100%;
        padding: 20px;
    }

    .hero__section__content__image {
        width: 100%;
        margin-top: 20px;
    }

    .hero__section__footer {
        flex-direction: column;
        gap: 20px;
        padding-top: 30px;
    }

    .hero__section__footer__content h4 {
        font-size: 20px;
    }

    .hero__section__footer__content p {
        font-size: 12px;
    }

    .hero__section__button {
        padding: 10px 20px;
        font-size: 16px;
    }

    .hero__section__content p {
        font-size: 20px;
    }

    .hero__section__content h3 {
        font-size: 42px;
    }

    .hero__section__content__color_text {
        font-size: 16px;
    }
}
